pandas
psycopg2-binary # For SQLAlchemy PostgreSQL connection
SQLAlchemy
# polars # Uncomment if you decide to use Polars
# python-dotenv # For local testing if you use .env files for credentials 
scikit-learn
joblib 
ijson # For streaming JSON parsing
sktime
ruptures
pyro-ppl
torch
requests
pvlib
astral
pytest
