pandas
psycopg
numpy
polars
psycopg2-binary
pyarrow
pydantic>=2.6,<3.0
pydantic-settings>=2.2,<3.0
prefect==3.3.6
great-expectations==0.18.13
duckdb
feast==0.45.0
mlflow-skinny==2.14.1
platypus-opt
hypothesis
pytest
pytest-benchmark
asyncpg
sqlalchemy>=2.0
redis>=4.3,<5
scipy
cupy-cuda12x